@{
    ViewData["Title"] = "";
}
@model MOPC.DAL.Registro

<form id="FormEdit">
    <div class="box box-primary centrado padding5">
        <div class="box-header with-border">
            <div id="representacion">
                <input asp-for="RepresentaInstitucion" type="checkbox"> Represento a una institución
            </div>
        </div>
        <div class="box-body">
            
                <div class="row rowsformulario" id="rowidentificacion">
                    <div class=" form-group col-lg-2 col-md-2 col-sm-2">
                        <label for="cedula">Cédula*</label>
                        <input asp-for="Cedula" class="form-control" type="text" placeholder="Cédula">
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-2">
                        <label for="nombre">Nombre*</label>
                        <input asp-for="Nombre" class="form-control" id="nombre" type="text" placeholder="Nombre">
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-2">
                        <label for="email">E-Mail</label>
                        <input asp-for="Email" class="form-control" id="email" type="email" placeholder="Correo electrónico" >
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-2">
                        <label for="Telefono">Teléfono</label>
                        <input asp-for="Telefono" class="form-control" type="tel" placeholder="Teléfono">
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-2">
                        <label for="Provincia">Provincia*</label>
                        <select class="form-control" asp-for="Provincia"></select>
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-2">
                        <label for="Municipio">Municipio*</label>
                        <select class="form-control" asp-for="Municipio"></select>
                    </div>
                
                <div class="row rowsformulario">
                    <div id="datosinstitucion"></div>
                </div>


               <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <label for="comentario">Comentarios y Sugerencias*</label>
                        <textarea class="form-control" asp-for="Cometario"></textarea>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <label for="archivo"> </label>
                        <input id="archivo" name="archivos" type="file" multiple>
                        <p class="help-block">Tamaño máximo total: 4Mb.</p>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <input id="formuid" type="hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" type="submit" id="btnEnviar">Enviar</button>


        </div>
    </div>
</form>
@section Scripts
    {
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script src="@Url.Content("~/js/validate.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
    <script src="@Url.Content("~/js/provincias.js")"></script>
}
